.navigation {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 2px dashed @navigation-border;
    nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px auto;
        a {
            text-decoration: none;
            color: black;
            padding-right: 29px;
            font-size: 1.6rem;
        }
    }
}